[Desktop Entry]
Name=Running Dict
Comment=Translator for developers
Keywords=cpp;cmake;example;
Exec=runningDictGui
Icon=runningdict.png
Terminal=true
Type=Application
Categories=Utility;
